.App {
  font-family: sans-serif;
  text-align: center;
}
.invictus {
  margin: 20px;
  border-radius: 0cm;
  background-color: fff;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
.text {
  border-radius: 10px;
  height: 30px;
  margin: 0px 0px 0px 450px;
  width: 400px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
}
.entry {
  margin: 0px 50px 20px 300px;
  padding: 5px;
  height: 30px;
  width: 400px;
  border-radius: 100px;
}
.button {
  margin: 25px 50px 0px 50px;
  padding: 2px;
  height: 50px;
  padding: 5px;
  width: 150px;
  border-radius: 100px;
}
.content {
  background-color: lightsalmon;
  height: 200px;
  width: 34.5;
  border-radius: 10px;
  border-color: black;
}
.Answer {
  background-color: fff;
  padding: 20px;
  width: 34.5cm;
  border-radius: 10px;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
}
.Para{
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgreen;
  border-radius: 10px;
}
